<!DOCTYPE HTML>
<html>

  <head>

    <title>Aerosprout</title>
    <%= stylesheet_link_tag '/assets/stylesheets/about-style' %>
    <!--  <script type="text/javascript" src="script.js"></script>  -->

  </head>

    <div class="background">WHAT WE DO</div>

    <div class="backgroundtext">
      <p>
        Funded by the Bowman Brockman Grant at the North Carolina School of Science and Mathematics (NCSSM),
        Aerosprout is a 501c3 non-profit organization initiated by two NCSSM students to raise awareness for sustainability.
        We serve to set up FREE hydroponic sites at schools and businesses,
        and currently have working sites at multiple locations in North Carolina.
      </p>
    </div>

    <hr>

<!--
    <footer>
      <p>980-338-0972 AEROSPROUT18@GMAIL.COM</p>
    </footer>
-->

  </body>

</html>
